footer,
header{
    background-color: #1f2937;
    height: 30px;
    }
    .logo{
        margin-right: auto;
        color: #f9faf8;
        align-items: flex-start;
        font-size: 24px;
        font: roboto;
        margin-left: 30px;
    }
    .flexbox-container{
        display: flex;
        justify-content: flex-end;
        margin: 5px;
    }

    .headLink1{
      font-size: 18px;
      color: #E5E7EB;
      padding: 10px;
      
    }
    .headLink2{
        font-size: 18px;
        color: #E5E7EB;
        padding: 10px;
    }
    .headLink3{
        font-size: 18px;
        color: #E5E7EB; 
        padding: 10px;
    }

.topSection{
    background-color: #1f2937; 
}
.Heading{
   font-size: 48px;
   color: #f9faf8;
   font-weight: bold;
   margin-left: 45px;
}
.headContent{
margin-right: 00px;
}

.MainImage{
float:right;
   width: 50px;
   height: 30px
}




.quoteSection{
    background-color: #E5E7EB;

}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 50px;
}

.thor{
text-align: right;
margin:40px;
}

footer{
    background-color: #1f2937;
}
h5{
    text-align: center;
    color: #E5E7EB;
}


        