footer,
header{
    background-color: #1f2937;
    height: 30px;
    }
    .logo{
        margin-right: auto;
        color: #f9faf8;
        align-items: flex-start;
        font-size: 24px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 110px;
    }
    .flexbox-container{
        display: flex;
        justify-content: flex-end;
        margin: 5px;
    }

    .headLink1{
        margin-right: 50px;
      font-size: 18px;
      color: #E5E7EB;
      padding: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .headLink2{
        margin-right: 50px;
        font-size: 18px;
        color: #E5E7EB;
        padding: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .headLink3{
         margin-right: 50px;
        font-size: 18px;
        color: #E5E7EB; 
        padding: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
    hr{
        color: #cfd3db;
    }

.topSection{
    background-color: #1f2937; 
    display: flex;
   justify-content:space-between ;
    padding:100px;
    
     }

     .flexHero{
         display: flex;
         flex-direction: column;
     
      flex-grow: 1;
     
     }
.Heading{
   font-size: 48px;
   color: #f9faf8;
   font-weight: bold;
   margin-left: 45px;
padding-right: 50px;
text-align: left;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.headContent{
color: #cfd3db;
width: 300px;
margin-left: 50px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
img{
    border-radius: 15px;
         flex-shrink: 2;
    margin-left: 90px;
 margin-right: 50px;
   
}
.randomInfo{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.RandomSection{
    display: flex;
  
justify-content: center;
}
.subtext{
    height: 150px;
    width: 150px;
  margin: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.containers{
    display: flex;
justify-content: center;
    
}
.container1{
    border: 4px solid lightskyblue;
    height: 150px;
    width: 150px;
  margin: 20px;
   margin-left: 50px;
   flex-grow: 0;
   border-radius: 15px;

 
 
   
    }

    .container2{
        border: 4px solid lightskyblue;
        height: 150px;
        width: 150px;
        margin: 20px;
       
        border-radius: 15px;
    }
    .container3{
        border: 4px solid lightskyblue;
        height: 150px;
        width: 150px;
        margin: 20px;
        border-radius: 15px;
    }
    .container4{
        border: 4px solid lightskyblue;
        height: 150px;
        width: 150px;
        margin: 20px;
        border-radius: 15px;
        margin-right: 50px;
    }

.quoteSection{
    background-color: #E5E7EB;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: monospace;
  }
.quote{
    font-size: 36px;
    font-style: italic; 
     margin-left: 200px;
    margin-right:200px ;
    color: #1f2937;
   padding-left: 200px;
   padding-right:200px ;
   padding: 50px;
}

.thor{
text-align: right;

margin-bottom: 40px;
margin-right: 90px;
}

.bottomSection{
    margin: 50px;
    margin-right: 90px;
    margin-left: 90px;
}

.advert{
    background-color:#3882f6;
        padding: 60px;
    border-radius: 20px;
   
        }
       
            .advertCall{
            color: #E5E7EB;
            font-size: 24px;
            text-align: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

.signup{
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #E5E7EB;
   padding: 8px;
}

.button{
    border: 2px solid #f9faf8;
    border-radius:5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #f9faf8;
text-align: center;
margin-left:500px;
margin-right: 500px;
padding: 5px;

}

footer{
    background-color: #1f2937;
    padding: 10px;
   
}
h5{
    text-align: center;
    color: #E5E7EB;
   
}


        